@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.alignleft{
    float: left;
    margin-right: 15px;
}
.alignright{
    float: right;
    margin-left: 15px;
}
.aligncenter{
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus{
    outline: 0 solid;
}
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: 900;
}
body{

    font-family: 'Raleway', sans-serif;
}

/* --section style sheet start-- */

.project-bg{
    background-image: url('../css/img/monitorpg.jpg');
}

.section-padding {
    padding-top: 20px;
}

.single-project-item {
    position: relative;
    text-align: right;
}

.project-text {
    /* float: right; */
    width: 60%;
    background: #FE0CC9;
    color: #fff;
    /* padding: 40px; */
    display: inline-block;
    text-align: left;    
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 300;    
    padding: 60px 54px 80px 280px;
    margin-top: 200px;
}

.project-bg {
    position: absolute;
    height: 82.5%;
    width: 60%;
    left: 0;
    top: 0;
    border-right: 15px solid #fff;
    border-bottom: 15px solid #fff;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
}

p.more-link {
    margin-top: 25px;
}

p.more-link a {
    color: #fff;
}

.project-text h3 {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
}
.project-text p{
    word-spacing: -1px;
}
.feature-projects-wrap {
    position: relative;
}

.feature-projects-wrap h2 {
    position: absolute;
    right: 0;
    width: 33%;
    top: 8%;
    font-size: 22px;
    text-transform: uppercase;
}

.feature-projects-wrap h2 span {
    font-size: 42px;
    color: #FE0CC9;
    font-family: cursive;
}
.studio-2{
    background-image: url('../css/img/studio-2.jpg');
}
.studio-3{
    background-image: url('../css/img/studio-3.jpg');
}

.featured-projects .owl-dots .owl-dot:nth-child(1):before {

    content: "01";
}

.featured-projects .owl-dots .owl-dot:nth-child(2):before {
    content: "02";
}

.featured-projects .owl-dots .owl-dot:nth-child(3):before {
    content: "03";
}
.featured-projects .owl-dots .owl-dot:nth-child(4):before {
    content: "04";
}
.featured-projects .owl-dots .owl-dot:nth-child(5):before {
    content: "05";
}
.featured-projects .owl-dots .owl-dot:nth-child(6):before {
    content: "06";
}
.featured-projects .owl-dots .owl-dot:nth-child(7):before {
    content: "07";
}
.featured-projects .owl-dots .owl-dot:nth-child(8):before {
    content: "08";
}
.featured-projects .owl-dots .owl-dot:nth-child(9):before {
    content: "09";
}
.featured-projects .owl-dots .owl-dot:nth-child(10):before {
    content: "10";
}

.featured-projects .owl-dots .owl-dot span{
    width: 0;
    height: 0;
}

.featured-projects .owl-dots .owl-dot {
    
    margin-right: 6px;
    background: #aaa;
    padding: 0 20px;
    width: 36px;
    height: 36px;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    font-weight: 600;
    font-family: cursive;
    border-radius: 50%;
}

.owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
}
.featured-projects .owl-dots .owl-dot span{
    display: none;
}

.featured-projects .owl-dots .owl-dot.active, 
.featured-projects .owl-dots .owl-dot:hover{
    background-color: #FE0CC9;
}

p.more-link i{
    font-size: 14px;
    padding-left: 8px;
}